<main class="container container-page">
  <h1 class= "pt-5 m-5 text-center"> Thank you for signing up<i> <%= "#{@signup.firstname}!" %></i></h1>
  </h1>
  <h4 class= "text-center"> We will send you our monthly newsletter</h4>
  <h4 class= "text-center"> and information about travel deals to the email below:</h4>
  <h3 class= "pt-3 text-center text-warning"><i><%= @signup.email %></i></h3>
</main>
