<main class="container page-container">
  <h1 class= "pt-5 text-center">Discover New Adventures</h1>
 
  <section class="container-fluid py-2 text-center"> 
    <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid", alt="village scene">
  </section>
  <section class="container">
    <h3 class= "pt-5">Join and receive exclusive deals!</h3>
    <%= link_to "Sign Up", "signups/new", class: "text-center btn btn-warning" %>
</main>