<main class="container home-page">
  <h1 class= "py-5 text-center">Your Travel Story</h1>
 
  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to "Learn More", "/about", class: "nav-link" %>
  </button>
  <section class="container py-2 text-center"> 
    <h3>My travel to Greece</h3> 
    <h5 class="lighter "><i>Finding my roots and exploring new paths</i></h5>
  </section>

  <section class="container-fluid">
    <img src="https://images.pexels.com/photos/6181092/pexels-photo-6181092.jpeg?auto=compress&cs=tinysrgb&w=1600" class="img-fluid", alt="village scene">

  </section>
  <section class="container">
    <h1 class= "py-5">Discover new adventures</h1>
    <button type="button" class="btn btn-primary btn-lg">
      <%= link_to "Learn More", "/about", class: "nav-link" %>
    </button>
</main>