<div class= "container-fluid footer">
  <footer class="pt-5 mt-5 mb-0 border-top">
      <div>
        <h5 class="text-center text-warning">
        © 2022 <i class="bi bi-airplane-engines"></i>Travel Stories
        </h5>
      </div>
  </footer>
</div>